.bookingContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.bookingDetail {
  width: 60%;
}

.heading {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-bottom: 30px;
}

/* Thêm class riêng thay vì dùng thẻ p */
.text {
  font-size: 1.6rem;
}

.label {
  font-weight: 500 !important;
  width: 300px;
  text-decoration: underline;
}

.status {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600 !important;
}

.bookingRating {
  flex: 1;
}

.btnGroup {
  margin-top: 10px;
  width: 400px;
}

.btnGroup button {
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 10px 0 0;
  border-radius: 10px !important;
}
