.sidebar {
  width: 150px;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo .icon {
  color: gold;
  font-size: 28px;
  font-weight: bold;
}

.logo .text {
  margin-left: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  transition: 0.3s;
}

.navItem .icon {
  margin-right: 10px;
}

.navItem:hover {
  background: #333;
}

.active {
  background: #595959;
}
