.booking-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.booking-detail {
  width: 60%;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

p {
  font-size: 1.6rem;
}

.label {
  font-weight: 500;
  width: 300px;
  text-decoration: underline;
}

.status {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
}

.btn-group {
  margin-top: 10px;
  width: 400px;
}

.btn-group button {
  padding: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px !important;
}
