.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  border-radius: 8px;
}

.pageButton {
  border: none;
  background-color: white;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.pageButton:hover {
  background-color: var(--main-blue);
  color: white;
  text-decoration: underline;
}

.activePage {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
